<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <style>
        .ustalan {
            overflow:visible;
            position: relative;
            width: 150%;
            height:48px;
            background-color: #2f3133;
        }
        .ustalan2 {
            overflow:visible;
            position: relative;
            width: 150%;
            height: 48px;
            background-color: #0071e3;
            top:-10px;
        }
        .ustalan3 {
            overflow: visible;
            position: relative;
            width: 150%;
            height: 48px;
            background-color: white;
            top: -10px;
        }
        .body1 {
            overflow: visible;
            position: relative;
            width: 150%;
            height: 600px;
            background-color: #131313;

        }
        .body2 {
            overflow: visible;
            position: relative;
            width: 150%;
            height: 900px;
            background-color: white;
        }
        .body3 {
            overflow: visible;
            position: relative;
            width: 150%;
            height: 1000px;
            background-color: white;
            top:-315px;
            
        }
        .body4 {
            overflow: visible;
            position: relative;
            width: 100%;
            height:700px;
            background-color: white;
            top:-720px;
            left:70px;
        }
        .body5 {
            overflow: visible;
            position: relative;
            width: 100%;
            background-color: white;
            height:800px;
            top: -800px;
            left:90px;
        }
        .body6 {
            overflow: visible;
            position: relative;
            width: 100%;
            background-color: white;
            height: 800px;
            top: -900px;
            left: 90px;
        }
    </style>
</head>

<body>

    <div class="ustalan">
        <img style="position:relative;left:-60px;top:6px;" src="~/Img/AppleLogo.PNG" />
        <h4 style="position:relative;float:left;color:#d1d2d2;left:340px;top:6px;font-size:14px;">Mac</h4>
        <h4 style="position:relative;float:left;color:#d1d2d2;left:410px;top:6px;font-size:14px;">iPad</h4>
        <h4 style="position:relative;float:left;color:#d1d2d2;left:480px;top:6px;font-size:14px;">iPhone</h4>
        <h4 style="position:relative;float:left;color:#d1d2d2;left:550px;top:6px;font-size:14px;">Watch</h4>
        <h4 style="position:relative;float:left;color:#d1d2d2;left:620px;top:6px;font-size:14px;">TV</h4>
        <h4 style="position:relative;float:left;color:#d1d2d2;left:690px;top:6px;font-size:14px;">Music</h4>
        <h4 style="position:relative;float:left;color:#d1d2d2;left:760px;top:6px;font-size:14px;">Support</h4>
        <h4 style="position:relative;float:left;color:#d1d2d2;left:830px;top:5px;font-size:17px;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg>
        </h4>
        <img style="position:relative;float:left;color:#d1d2d2;left:900px;top:8px;font-size:17px;" src="~/Img/shoppingBag.PNG" />
    </div>
    <div class="ustalan2">
        <h4 style="position:relative;color:white;left:535px;top:15px;font-size:14px;">Evaluate COVID‑19 symptoms and understand next steps<span style="position: relative;top:2px; color: white; font-size:10px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h4>

    </div>
    <div class="ustalan3">
        <h4 style="display: inline; position: relative; color: #0071e3; left:125px; top:23px; font-size: 14px;">Shop online</h4>
        <h4 style="display: inline; position: relative; float: left; color: black; left: 575px; top: 15px; font-size: 14px;">and get free, no‑contact delivery, Specialist help, and more.</h4>
    </div>
    <div class="body1">
        <div style="overflow: visible; width: 150%;">
            <img style="position:relative;overflow:visible;top:100px;left:100px;" src="~/Img/iphoneSeBlack.jpg" />
        </div>
        <div style="position: relative; color: white; left: 560px; top: -445px;">
            <h1 style="display: inline; position: relative; color: white;font-size: 53px;"><strong>iPhone SE</strong></h1>
        </div>

        <div style="position: relative; color: white; left: 530px; top: -460px;">
            <h2 style="font-size:28px;">Lots to love.Less to spend.</h2>
        </div>
        <div style=" position: relative; color: white; left: 595px; top: -475px;">
            <h2 style="font-size:28px;">Starting at $399.</h2>
        </div>
        <div style="position: relative; color: white; left: 545px; top: -485px;">
            <h2 style="font-size:17px;color:#868687;">From $9.54/mo. or $299 with trade in</h2>
        </div>
        <div style="position: relative; color: white; left: 585px; top: -480px;">
            <h2 style="overflow: visible; display: inline; font-size: 20px; color: #0071e3;">Learn more<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
            <h2 style="overflow: visible; display: inline; position: relative; left: 30px; font-size: 20px; color: #0071e3;">Buy<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
        </div>

    </div>
    <div class="body2">
        <div style="position: relative; color: white;width:150%; ">
            <img style="position:relative;top:150px;left:-350px;" src="~/Img/iphone11renkli.jpg" />
            <div style="position: relative; color: white; left: 560px; top: -405px;">
                <h1 style="display: inline; position: relative; color: black;font-size: 53px;"><strong>iPhone 11</strong></h1>
            </div>
            <div style="position: relative; color: black; left: 500px; top: -420px;">
                <h2 style="font-size:28px;">Just the right amount of everything.</h2>
            </div>
            <div style="position: relative; color: white; left: 545px; top:-430px;">
                <h2 style="font-size:17px;color:#868687;">From $19.95/mo. or $479 with trade in</h2>
            </div>
            <div style="position: relative; color: white; left: 585px; top: -420px;">
                <h2 style="overflow: visible; display: inline; font-size: 20px; color: #0071e3;">Learn more<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
                <h2 style="overflow: visible; display: inline; position: relative; left: 30px; font-size: 20px; color: #0071e3;">Buy<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
            </div>
        </div>
    </div>
    <div class="body3">
        <div style="position: relative; color: white;width:150%; ">
            <img style="position:relative;left:-800px;top:0px;" src="~/Img/MAC1.jpg" />
            <div style="position: relative; color: white; left:630px; top: -550px;">
                <h1 style="display: inline; position: relative; color: black;font-size: 53px;"><strong>iPad Pro</strong></h1>
            </div>
            <div style="position: relative; color: black; left: 500px; top: -560px;">
                <h2 style="font-size:28px;">Your next computer is a not computer.</h2>
            </div>
            <div style="position: relative; color: white; left:625px; top: -555px;">
                <h2 style="overflow: visible; display: inline; font-size: 20px; color: #0071e3;">Learn more<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
                <h2 style="overflow: visible; display: inline; position: relative; left: 30px; font-size: 20px; color: #0071e3;">Buy<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
            </div>
        </div>
    </div>
    <div class="body4">
        <div style="overflow: visible; position: relative; background-color:#f1f1f3; float:left; width:50%; height: 800px; padding-right: 30px;left:19px;top:50px;">
            <img style="position: relative; width: 85%; top:230px; left:20px;" src="~/Img/sticker2.PNG" />
            <h1 style="width:70%;position: relative; color: black;font-size:35px;top:-170px;left:120px;"><strong>Buy a Mac or iPad for<br /> college.Get Airpods.</strong></h1>
            <h2 style="display: inline; position: relative; left:260px; font-size: 20px;top:-160px;color: #0071e3;">Shop<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
        </div>
        <div style="overflow: visible; position: relative; display:inline;background-color:white; float:left; width:45%; height: 800px;left:19px;top:50px;">
            <img style="overflow: visible; position:relative;width:100%;top:260px;left:90px;" src="~/Img/appleAirpods.PNG" />
            <h1 style="width:80%;position: relative; color: black;font-size:37px;top:-220px;left:180px;"><strong>Make them yours.</strong></h1>
            <h2 style="font-size:20px;width:80%;position: relative; color: black;top:-230px;left:195px;">Personalize your Airpods with <br />free engraving.Only at Apple.</h2>
            <h2 style="display: inline; position: relative; left:245px; font-size:17px;top:-230px;color: #0071e3;">Learn more<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>

        </div>
    </div>
    <div class="body5">
        <div style="overflow: visible; position: relative; background-color:white; float:left; width:55%; height: 800px;left:19px;top:30px;">
            <img style="overflow: visible; position: relative; width: 85%; top:110px; left:-40px;" src="~/Img/appleCards.PNG" />
            <h1 style="overflow: visible; width: 70%; position: relative; color: black; font-size: 35px; top: -390px; left: 120px;"><strong>Apple Card</strong></h1>
            <h1 style="overflow: visible; width: 70%; position: relative; color: black; font-size: 35px; top: -410px; left: 50px;"><strong>Monthly Installments.</strong></h1>
            <h2 style="overflow: visible; font-size: 22px; width:80%; position: relative; color: black; top: -430px; left: 30px;">Pay for your new Apple products,overtime.</h2>
            <h2 style="overflow: visible; font-size: 22px; width:80%; position: relative; color: black; top: -445px; left: 75px;"> inreterst-free with Apple Card.</h2>
            <h2 style="display: inline; position: relative; left:170px; font-size:17px;top:-450px;color: #0071e3;">Learn more<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
           
        </div>
        <div style="overflow: visible; position: relative; display:inline;background-color:white; float:left; width:45%; height:800px;left:-40px;top:-90px;">
               <img style="width:115%;height:600px;"src="~/Img/littleVoice.PNG" />
        </div>
    </div>
    <div class="body6">
        <div style="overflow: visible; position: relative; background-color:white; float:left; width:55%; height: 700px;left:19px;top:80px;">
            <img style="overflow: visible; position: relative; width: 85%; top:50px; left:-30px;" src="~/Img/AppleWatches.PNG" />
            <img style="overflow: visible; width:25%; position: relative; color: black; font-size: 35px; top:-570px; left:180px;" src="~/Img/watch.png" />
            <h2 style="overflow: visible; font-size: 20px; width:80%; position: relative; color: black; top: -570px; left:95px;">With the Always-On Retina display.</h2>
            <h2 style="overflow: visible; font-size: 20px; width:80%; position: relative; color: black; top: -585px; left:95px;">You've never seen a watch like this.</h2>
            <div style="position: relative; color: white; left:155px; top:-580px;">
                <h2 style="overflow: visible; display: inline; font-size:16px; color: #0071e3;">Learn more<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
                <h2 style="overflow: visible; display: inline; position: relative; left: 30px; font-size:16px; color: #0071e3;">Buy<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
            </div>
        </div>
        <div style="overflow: visible; position: relative; display:inline;background-color:white; float:left; width:45%; height:800px;left:-40px;top:-90px;">
            <img style="overflow: visible; position: relative; width:54%; top:240px; left:120px;" src="~/Img/AppleLogo3.PNG" />
            <h1 style="overflow: visible; width: 70%; position: relative; color: black; font-size: 35px; top: -270px; left: 120px;"><strong>Apple's approach to</strong></h1>
            <h1 style="overflow: visible; width: 80%; position: relative; color: black; font-size: 35px; top: -285px; left: 115px;"><strong>reopening our stores.</strong></h1>
            <div style="position: relative; color: white; left:210px; top:-280px;">
                <h2 style="overflow: visible; display: inline; font-size:16px; color: #0071e3;">Read the letter<span style="position: relative;top:2px; color:#0071e3; font-size:15px;left:2px;" span class="glyphicon glyphicon-menu-right"></span></h2>
             </div>
        </div>
    </div>
</body>
</html>